.preview{
    width:80%;
}
.whatsapp_song_img
{
    width:100%;
    height: 15%;
}
.preview_avatar
{
    width: 80px !important;
    height: 80px !important;
    margin-right: 20px;
}
.preview_details
{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding:10px;
}
.preview_avatar
{
    display:flex;
    align-items: center;
}
.thumb_title
{
    font-size: 20px !important;
    font-weight: bold !important;
}

.preview_details2
{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.preview_subscribe_btn
{
    height: 40px !important;
}
.channel_links
{
    display: flex;
    width:700px;
    margin-right: 300px;
    /* margin-left:300px; */
    margin-top: 20px;
    justify-content: space-between;
    position: sticky;
   
}

.channel_links2>p{
  
    font-weight: 700;
    cursor: pointer;
    font-size: 15px;
}
.channel_links2
{
    opacity: 1;
}
.channel_links_active
{
    height:20px;
}
.channel_link_border
{
    background-color: black;
    height:2px;
    margin-top: 10px;
    opacity: 0.6;
}
.channel_content
{
    height:100%;
    }
.channel_content2
{
    
    margin-left: 100px;
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    
}

@media(width<=770px)
{
    .channel_links
    {
        width:500px;
        margin-left:200px;
       
    }
    .channel_content2
    {
        margin-left:50px;
    }
}

@media(max-width:425px)
{
    .channel_links
    {
        width:300px;
        margin-left:350px;
              
    }
    .channel_links2>p
     {
        font-size: 10px;
    }
    .preview_subscribe_btn
    {
        margin-left: 100px !important;
        height: 30px !important;
        font-size: 10px  !important;
    }
}


