.header
{
    
    display:flex;
    align-items: center;
    justify-content: space-between;
    /* padding:10px; */
    position: sticky;
    top:0;
    background-color: white;
    z-index: 100;
    
   
}
.headleft
{
    display: flex;
    align-items: center;
}
 .youtubelogo
 {
     height: 100px;
     object-fit:contain;
     /* margin-left:20px; */
 }
.headcenter
{
    display:flex;
    align-items:center;
    border:1px solid grey;
    width:50%;
}

.searchbtn
{
    width: 50px !important;
    background-color: white;
    color: gray;
    border-left : 1px solid lightgray;
    
}
.searchbox
{
    flex: 1;
    border: none;
    height:35px;
}

.headright
{
    display:flex;
    align-items:center;
    
}
.headright_icon
{
    margin-right: 8px;
}

.sidebarFalse
{
    display:none
}

.MuiPopover-paper
{
    max-height:calc(100vh - 62px-100px);
    width:354px;
    margin-top: 20px;
    margin-right: -10px;
    height:390px;
}
.popover
{
    display:flex;
    flex-direction:column;
    align-items: center;
    padding:20px;
}
.popover_top
{
    display:flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #eceff3;
    width:300px;
    height: 190px;
}
.popover_badge
{
    background-color:white ;
    color: #7c7d80;
    border-radius:50%;
    width:30px;
    height:30px;
    
}
.popover_camera
{
width :17px !important;
height: 17px !important;
margin:4px;
box-shadow: 0px 1px 1px 0 #eee7e7,
0px 1px 3px 1px rgb(238, 243, 238);
border-radius: 50%;
padding:5px;
cursor : pointer;
}
.popover_camera:hover
{
    color: blue;
} 
.popover_text
{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top:15px;
    color:#1c1c1d;
}
.popover_displayName
{
font-family: "poppins",sans-serif;
color:#202124;
font-weight: 500;
letter-spacing: -0.2px;
text-transform: capitalize;
}
.popover_mail
{
    font-family: "Robottol",sans-serif;
    color:grey;
}
.popover_manage_btn
{
background-color: white;
border :1px solid white;
border-radius: 100px;
color : gray;
margin:16px 0 0;
max-width: 254px;
padding:8px 16px;
font-family: "poppins";
cursor:pointer;
user-select:none;
}

.popover_manage_btn:hover
{
    background-color: white;
}

.popover_addIcon
{
    margin-left:40px;
    margin-right:20px;
}
.popover_signOut
{
    margin-top:20px;
    color:grey;
    text-transform: capitalize !important;
}
.popover_footer
{
    display: flex;
    position: absolute;
    bottom:0;
    width:60%;
    align-items: center;
    color:grey;
    justify-content: center;
    border-top:1px solid white;
    padding-top: 5px;
}
.popover_footer>span{
    margin:10px;
}

@media(width<=665px)
{
  
    .searchbox
{
   display:none;
}
.headcenter{
    border: none;
}
.headright_icon
{
    margin-left: 5 px;
}
}


































































































/* .header
{
    display: flex;
    justify-content: space-between;
    background-color: black;
    height: 8.5vh;
    }
.headleft,
.headright
{
    display: flex;
    align-items: center;
    
}
/* .menuicon
{
    padding:10px;
} */

/* .headright > *{
cursor: pointer;
margin-right: 20px;
font-size: 25px !important;
}
.youtubelogo
{
    width: 100px;
}
.headcenter
{
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
    
}
.searchbox
{
    width: 50%;
    height: 32px;
    background-color: #121212;
    padding-left: 10px;
    outline: none;
    border: none;
    border: 1px solid #303030;
    border-right: none;
    font-size: 16px; 
}
.searchbtn
{
    height: 33px;
    background-color: #313131 !important;
    border-radius: 0;
}
.searchicon
{
    opacity:0.2;
    color:white;
}  */